.title{

  text-align:center;
  color: #ff0000;

}

.title img{

  width: 300px;
  fill: transparent;
  -webkit-image-fill-color: transparent;
}

.title span{

  font-size: 13em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 1000;

}

.clip{
  /*
  Ensure background is added first
  */
  background: url("../assets/img19.jpg");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: repeat;
  z-index: 5;
}
